@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

/* ============================== Base Style ============================== */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,
body {
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   font-family: "Onest", serif;
}

section {
   position: relative;
}

img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

a {
   text-decoration: none;
   color: inherit;
}

li {
   list-style: none;
}

input {
   padding: 4px 16px;
}

/* ============================== Base Style ============================== */

#loader1,
#loader2,
#loader3 {
   width: 37.5px;
   height: 37.5px;
}

.imgs-as-icons {
   width: 50px;
   height: 50px;
   display: inline-block;
}

/* ============================== Navbar ============================== */
nav {
   padding: 1rem 3rem;
   background-color: #ffffff;
}

.link {
   font-size: large;
   z-index: 10;
   font-weight: 500;
}

.link:hover {
   /* letter-spacing: -0.3px; */
   margin: 0px;
   padding: 0px;
   background-image: url(https://media.giphy.com/media/0W7Lqw9aohHDbLAXMg/giphy.gif?cid=ecf05e47v7kfu9wfd8dmgtcouiuwoj9wiicglrypjkabyyea&ep=v1_gifs_related&rid=giphy.gif&ct=g);
   /* background-repeat: no-repeat; */
   background-position: 50% 40%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
/* ============================== Hero Section ============================== */
.container {
   width: 100vw;
   height: 100%;
   min-height: 92vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #edf0f5;
}

.upper-part {
   padding: 1em;
}

.inner-cnt {
   border-radius: 12px;
   padding: 1em 4em;
}

.location-name,
.weather-type {
   font-weight: 400;
   text-align: center;
}

.tags {
   padding: 0 1em;
}

.air-quality-additional,
.real-feel-additional,
.humidity-additional,
.max-temperature-additional,
.min-temperature-additional,
.wind-speed-additional,
.wind-direction-additional,
.visibility-additional,
.pressure-additional,
.sunrise-additional,
.sunset-additional {
   background: #fff;
   border-radius: 50px;
   padding: 2px 10px;
   border: 1px solid black;
}

.forecast {
   padding: .6em 1em;
}

.daily-forecast-card {
   display: inline-block;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0);
   width: 125px;
   height: 162.5px;
   padding: 2.5px 10px;
   margin-left: 2.5px;
   margin-right: 2.5px;
}

.daily-forecast-card .daily-forecast-logo {
   font-size: 37.5px;
   margin: -10px -10px;
}

.daily-forecast-card .daily-forecast-date {
   font-size: 17.5px;
   margin-top: 12.5px;
   font-weight: 400;
}

.daily-forecast-card .daily-forecast-logo {
   margin-top: -15px;
   margin-bottom: 2.5px;
}

.daily-forecast-card .weather-type-daily-forecast {
   font-weight: normal;
   margin-top: 2.5px;
}

.max-daily-forecast {
   font-weight: bold;
   font-size: 25px;
}

@media (max-width: 600px) {
   .navbar {
      display: none;
   }

   .additionals-first-row,
   .additionals-second-row {
      line-height: 27.5px;
      margin: 0;
   }

   .additionals-first-row span,
   .additionals-second-row span {
      display: none;
   }

   .daily-forecast-card {
      margin-top: 10px;
      margin-bottom: 10px;
   }

   #weatherType {
      margin-top: 0;
   }
}

.daily-forecast-card {
   display: inline-block;
   border-radius: 10px;
   background: rgba(0, 0, 0, 0);
   width: 125px;
   height: 162.5px;
   padding: 2.5px 10px;
   margin-left: 2.5px;
   margin-right: 2.5px;
}

.daily-forecast-card .daily-forecast-logo {
   font-size: 37.5px;
   margin: -10px -10px;
}

.daily-forecast-card .daily-forecast-date {
   font-size: 17.5px;
   margin-top: 12.5px;
   font-weight: 400;
}

.daily-forecast-card .daily-forecast-logo {
   margin-top: -15px;
}

.daily-forecast-card .weather-type-daily-forecast {
   font-weight: normal;
   margin-top: 2.5px;
}

.max-min-temperature-daily-forecast {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.max-daily-forecast {
   font-weight: bold;
   font-size: 25px;
}

.min-daily-forecast {
   font-size: 15px;
   opacity: 0.7;
}

/*========================= Footer =========================*/
footer {
   padding: 2rem 0 1rem;
}
.footer-logo .footer-link {
   letter-spacing: -0.3px;
   margin: 0px;
   padding: 0px;
   background-image: url(https://media.giphy.com/media/0W7Lqw9aohHDbLAXMg/giphy.gif?cid=ecf05e47v7kfu9wfd8dmgtcouiuwoj9wiicglrypjkabyyea&ep=v1_gifs_related&rid=giphy.gif&ct=g);
   /* background-repeat: no-repeat; */
   background-position: 50% 40%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.footer-link:hover {
   /* letter-spacing: -0.3px; */
   margin: 0px;
   padding: 0px;
   background-image: url(https://media.giphy.com/media/0W7Lqw9aohHDbLAXMg/giphy.gif?cid=ecf05e47v7kfu9wfd8dmgtcouiuwoj9wiicglrypjkabyyea&ep=v1_gifs_related&rid=giphy.gif&ct=g);
   /* background-repeat: no-repeat; */
   background-position: 50% 40%;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.social-icon {
   width: 1.5em;
}
